# Тестовое задание НИУ ВШЭ

## Часть 1. Работа с данными  
Входные данные для тестового задания можно найти здесь (или здесь, резервная ссылка).  
Ваша задача - подготовить и обработать исходные данных так, чтобы их можно было использовать во второй части задания.  

Требования к выходным данным:  

    1) В выходной таблице должны остаться только следующие колонки:  
area, cluster, cluster_name, keyword, x, y, count, color, где  
●	 area - область,  
●	 cluster - номер кластера,  
●	 cluster_name - название кластера,  
●	 keyword - словосочетание,  
●	 count - показатель,  
●	 x и y - координаты для диаграммы рассеяния,  
●	 color - цвет точки на карте для данного словосочетания  

    2) Колонку color нужно добавить самостоятельно - цвета вы можете взять из цветовых палеток Tableu или по своему усмотрению.  
    3) Цвет задается каждому словосочетанию согласно следующими правилам:  
●	внутри одной области цвета словосочетаний в одном кластере должны быть одинаковые, в разных - отличаться (например, у "Кластер 1" все слова будут окрашены в красный, у "Кластер 2" - в зеленый и т.д.)  
●	цвета кластеров в разных областях могут повторяться  
●	цвета кластеров в разных областях с разным номером не имеют никакой связи (у одной области [area] слова из "Кластер 1" могут быть красного цвета, в другой области у слов из "Кластер 1" может быть другой цвет)  

    4) Не должно быть дубликатов слов в одной и той же области (area), но словосочетание может повторяться из area в area  
    5) Колонки должны называться именно так, как указано в п.1  
    6) Сортировка должна происходить по колонкам area, cluster, cluster_name, count (по count значения сортируются в убывающем порядке, в остальных - по возрастающему).  
    7) Количество переданных в исходных ключевых слов должно совпадать с количество слов в выходных данных (за исключением дублированных строк или строк с пустыми\неформатными значениями по ключевым показателям [перечислены в п. 1], если такие имеются).  
    8) Никакие другие особенности оформления не должны учитываться при обработке данных (заливка и пр.)  
    9) Выходные данные должны быть аккуратно оформлены (заголовки закреплены, включен фильтр)  

Формат представления выходных данных: **google spreadsheet-таблица**.  

Выполнение данной работы желательно с помощью одной из библиотек:  
●	data.table ( R )  
●	pandas  (Python)

In [1]:
import pandas as pd
import numpy as np

In [2]:
def get_cluster_color(row):
    '''
    Функция присвоения цвета кластеру
    '''
    cluster = row['cluster']
    
    values_set = [0, 1, 2, 3]
    returned_values = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728']
    
    for i in range(len(values_set)):
        
        if cluster == values_set[i]:
            return returned_values[i]

In [3]:
tz_data = pd.read_csv('tz_data.csv')

### Ознакомление с данными

In [4]:
print()
print('\033[34m' + 'Выборка строк из tz_data' + '\033[0;0m')
display(tz_data.sample(n = 10, random_state = 2))
print()
print('\033[34m' + 'Общая информация' + '\033[0;0m')
display(tz_data.info())
print()
print('\033[34m' + 'Дубликаты' + '\033[0;0m')
display(tz_data.duplicated().sum())
print()
print('\033[34m' + 'Пропуски' + '\033[0;0m')
display(tz_data.isna().sum())

Выборка строк из tz_data

,area,cluster,cluster_name,keyword,good (1),count,x,y
214,greetings,0.0,Кластер 0,publicity mongolia,1.0,68,6.737206,10.32607989591264
172,housewives,1.0,Кластер 1,perfectly department composer,1.0,86,12.190364,6.814392436798818
20,capability,1.0,Кластер 1,interfaces neutral,1.0,1047,0.134107,12.515576283697598
114,ar\vr,2.0,Кластер 2,bangkok mining fascinating,1.0,682,5.084247,13.480030560991166
66,winner,1.0,Кластер 1,retirement privilege pathology sydney,1.0,1384,8.198546,6.322510495538448
23,capability,1.0,Кластер 1,filter substances,1.0,1532,2.432794,4.840058228742469
127,twisted,1.0,Кластер 1,toronto crisis chamber ceiling,1.0,535,1.229081,11.346440509834324
93,worlds,0.0,Кластер 0,island holland electric,1.0,1335,9.223316,14.683999423537758
77,locator,0.0,Кластер 0,insights downloaded,1.0,1831,9.894806,9.572447429953115
53,protein,1.0,Кластер 1,several animated buried,1.0,1705,1.660753,3.3058212058020153

Общая информация
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          228 non-null    object
 1   cluster       228 non-null    float64
 2   cluster_name  228 non-null    object
 3   keyword       228 non-null    object
 4   good (1)      227 non-null    float64
 5   count         227 non-null    object
 6   x             228 non-null    float64
 7   y             228 non-null    object
dtypes: float64(3), object(5)
memory usage: 14.4+ KB

None

Дубликаты

0

Пропуски

area            1
cluster         1
cluster_name    1
keyword         1
good (1)        2
count           2
x               1
y               1
dtype: int64

В датафрейме содержится незначительное количество пропущенных значений.

### Уникальные значения

Посмотрим уникальные значения в каждом из столбцов.

In [5]:
tz_column_list = ['area', 'cluster', 'cluster_name', 'keyword', 'good (1)', 'x', 'y', 'count']
tz_column_list

['area', 'cluster', 'cluster_name', 'keyword', 'good (1)', 'x', 'y', 'count']

In [6]:
for column in tz_column_list:
    print('\033[1m' + column,'\n' + '\033[0;0m')   
    display(tz_data[column].sort_values().unique())
    print(f'Количество уникальных значений: {tz_data[column].nunique()}')
    print('-'*80)
    print()

area

array(['ar\\vr', 'available', 'capability', 'dialog', 'eligibility',
       'except', 'greetings', 'housewives', 'lithuania', 'locator',
       'personnel', 'protein', 'twisted', 'winner', 'worlds', nan],
      dtype=object)

Количество уникальных значений: 15
--------------------------------------------------------------------------------

cluster

array([ 0.,  1.,  2.,  3., nan])

Количество уникальных значений: 4
--------------------------------------------------------------------------------

cluster_name

array(['Кластер 0', 'Кластер 1', 'Кластер 2', 'Кластер 3', nan],
      dtype=object)

Количество уникальных значений: 4
--------------------------------------------------------------------------------

keyword

array(['access michelle', 'alternative homeless',
       'amended mailed analyzed', 'announces independent',
       'announces independent coaching',
       'announces independent coaching travelers',
       'announces independent latter senator', 'annoying dramatic',
       'anymore undefined partially',
       'applicants vacuum distance restrictions',
       'applicants vacuum trusts famous', 'approach publicly disturbed',
       'approximately defense', 'auction causes', 'auditor transparent',
       'bangkok mining fascinating', 'barrier ethernet',
       'batteries nipples', 'battery pregnant',
       'bestsellers enterprise promotional', 'bouquet beyond indian',
       'caution target', 'celtic automation',
       'celtic automation patients sectors', 'churches charming',
       'cincinnati fundamentals', 'coalition integration',
       'coalition integration compute', 'coalition integration fantasy',
       'collectables departments', 'comfort rivers',
       'committees parallel', 'complaints excited', 'consider making',
       'containers raises', 'copyright crossword',
       'correctly washing trauma', 'courtesy textiles diameter',
       'covered harvest rights', 'cowboy arthritis',
       'creativity bloggers', 'cumshot identifies', 'cycles hungary',
       'cycling adaptive', 'decision surgeons montreal',
       'discover mining', 'disposition layout', 'diversity unlike',
       'dynamics directly', 'education evidence', 'effectiveness baskets',
       'engage gazette', 'enquiries implementation',
       'enquiries implementation duplicate', 'entire ethical speakers',
       'exchanges castle', 'exports closing supported',
       'falling dialogue', 'filling volunteers academics',
       'filter collect', 'filter substances', 'finished assigned',
       'finishing vanilla', 'florida reserved', 'formation interests',
       'gratuit alabama', 'greater variety', 'guestbook configure',
       'harmful cultures', 'hawaiian directive', 'heavily responsible',
       'helpful arctic minimal', 'hierarchy geology',
       'holdem configuring', 'holdings herbal', 'immunology plates',
       'indirect reminder', 'insights downloaded', 'integral unified',
       'interfaces neutral', 'interpretation connections',
       'ireland discipline', 'island holland electric',
       'jacksonville tomatoes alberta', 'justin thailand inspection',
       'knives everybody', 'legends directive', 'lighting observe',
       'lighting planes greensboro', 'listen hungary', 'listings finally',
       'listings finally reservations', 'logging suggested',
       'malawi sunset', 'margaret groove', 'massage sufficiently',
       'massive informative', 'massive informative musicians',
       'masturbation brisbane', 'mentor reduced posters',
       'mentor reduced shadow', 'michael tobacco',
       'michael tobacco oriented', 'minerals precipitation voyeurweb',
       'minerals reception', 'mirrors administration',
       'missions introduced', 'mobiles sensor', 'moderate command dublin',
       'moderate command signals', 'mortality decide',
       'notebook performs', 'notion scenario', 'offers incorrect',
       'offers incorrect presented', 'offset cnetcom',
       'offset cnetcom applying', 'offset cnetcom applying holdings',
       'operating stevens', 'operating stevens nirvana',
       'operating stevens nirvana gabriel', 'operating stevens regularly',
       'opportunities upgrades', 'optimal artificial orders',
       'optimal artificial orders complicated',
       'optimal artificial orders concrete', 'outstanding relations',
       'overcome delight office', 'packed italia', 'particular titles',
       'payday oriental', 'perfectly department composer',
       'pichunter olympus', 'pictures instances', 'pieces appeals',
       'pokemon meanwhile degree', 'polish removable',
       'portuguese bathroom', 'posing constitute beginners recycling',
       'postcards looked', 'postcards looked republic detector',
       'poster proceeding', 'previously standing languages commands',
       'programmer cardiovascular billion', 'publicity mongolia',
       'rebate classics', 'receiver astrology', 'recipient traffic',
       'recipients phentermine attorneys', 'recording remote',
       'recycling edited', 'regarding comprehensive circulation',
       'reload athletics', 'reservations linking',
       'responsibilities resolve complimentary',
       'retirement privilege pathology',
       'retirement privilege pathology sydney',
       'retirement privilege recovered beijing', 'revealed renaissance',
       'ringtone parental', 'ruling prepare', 'russell indonesian',
       'sapphire grounds', 'sapphire grounds justice',
       'scanners generated', 'several animated',
       'several animated buried', 'showed replacing', 'signed reception',
       'simulation allocated wellington', 'singles unusual buyers',
       'sounds belarus easily', 'spasm filter', 'speaker permission',
       'spread presidential', 'springer bumper', 'subscribers member',
       'suggestion testimonials', 'supply suspended', 'terrace people',
       'thomson veterans', 'toolbar portfolio', 'toronto crisis chamber',
       'toronto crisis chamber ceiling', 'transmitted australian',
       'tunnel lyrics', 'turner navigate expenditures',
       'turtle electronic', 'updating occurred', 'vampire injured',
       'waters career', 'watershed accurate', 'worthy integrate collect',
       'written conflict fabulous', nan], dtype=object)

Количество уникальных значений: 194
--------------------------------------------------------------------------------

good (1)

array([ 0.,  1., nan])

Количество уникальных значений: 2
--------------------------------------------------------------------------------

x

array([ 0.03944808,  0.04297734,  0.12779802,  0.1341075 ,  0.16254002,
        0.21191806,  0.32546905,  0.38198612,  0.40741498,  0.50949038,
        0.55451557,  0.61989225,  0.85460947,  0.86192097,  0.99087089,
        1.00323338,  1.02445121,  1.16062641,  1.22886288,  1.22908102,
        1.28915849,  1.31380606,  1.42744543,  1.43370632,  1.50690368,
        1.66075286,  1.72439697,  1.7294647 ,  1.83198341,  1.96870275,
        1.97297822,  2.04558616,  2.08986641,  2.16735462,  2.26056652,
        2.40702781,  2.43279387,  2.44564932,  2.48685037,  2.53454067,
        2.72160315,  2.84275428,  2.91109226,  2.98026424,  2.99116739,
        3.02424998,  3.17226101,  3.2684689 ,  3.28393962,  3.36253945,
        3.53944609,  3.54236682,  3.55974641,  3.58071798,  3.58510054,
        3.59898344,  3.6214187 ,  3.98650789,  4.02049407,  4.38375979,
        4.40935197,  4.47688583,  4.6556543 ,  4.78352212,  4.78651837,
        4.81325629,  4.94440074,  4.98867025,  4.99155925,  5.08424715,
        5.12728882,  5.13350488,  5.19363224,  5.19825749,  5.24768252,
        5.30473772,  5.53990422,  5.59362887,  5.60719183,  5.65511235,
        5.71226705,  5.77234171,  5.78894665,  5.87597786,  5.89411414,
        5.9879247 ,  5.99801326,  6.01126759,  6.02094431,  6.02994601,
        6.05751879,  6.12844261,  6.21087987,  6.30910664,  6.64061924,
        6.70398815,  6.73525981,  6.73720574,  6.76079799,  6.79590487,
        6.83837067,  6.96186624,  6.97856946,  7.30967235,  7.39928045,
        7.41177578,  7.5015186 ,  7.50305596,  7.67426339,  7.98591044,
        8.03571988,  8.04242231,  8.08223066,  8.15554972,  8.19854626,
        8.61925125,  8.64437418,  8.67974375,  8.70170454,  8.7128215 ,
        8.7413516 ,  8.76000209,  8.95987497,  8.96484041,  9.04624196,
        9.0710631 ,  9.12106132,  9.12359237,  9.1954443 ,  9.22331562,
        9.29111632,  9.51372754,  9.55702673,  9.56087138,  9.68140199,
        9.71122941,  9.71569224,  9.894806  ,  9.96455166,  9.98014926,
       10.04400776, 10.04683023, 10.15271896, 10.19560242, 10.28369388,
       10.3684219 , 10.40133579, 10.44353325, 10.46084757, 10.47447422,
       10.59459957, 10.70603205, 10.75761301, 10.83391996, 10.94931248,
       10.97121373, 10.98357068, 10.99960987, 11.02884442, 11.0859783 ,
       11.13578739, 11.16568814, 11.16608685, 11.17614164, 11.25378318,
       11.26212727, 11.35737469, 11.38185583, 11.39948498, 11.41991907,
       11.45122227, 11.47702544, 11.53566917, 11.55372405, 11.57659494,
       11.58301937, 11.72389491, 11.85090689, 11.9160109 , 11.94999048,
       11.9839591 , 12.04926784, 12.19036421, 12.1972752 , 12.23821231,
       12.26104173, 12.35359563, 12.42386517, 12.44198394, 12.46778833,
       12.46822859, 12.64917453, 12.70707343, 12.95505597, 13.00768005,
       13.11590258, 13.15067589, 13.2032863 , 13.27437433, 13.29356549,
       13.42777956, 13.5029705 , 13.57705572, 13.6059974 , 13.62701539,
       13.69649024, 13.76602043, 13.84393705, 13.88625557, 13.89323219,
       13.90211927, 13.96017784, 13.97534018, 14.05956278, 14.09755221,
       14.18249575, 14.27775939, 14.37470065, 14.42199703, 14.63364443,
       14.66808878, 14.74284818, 14.82927986, 14.91661916, 14.92787939,
               nan])

Количество уникальных значений: 225
--------------------------------------------------------------------------------

y

array(['0.06080720844153398', '0.09000260155310136',
       '0.09267876986654155', '0.1143436516859353', '0.11438091958222096',
       '0.15831290259642083', '0.19658438668780087',
       '0.30133952678609466', '0.319009363382321', '0.3976214750666285',
       '0.44477856435468255', '0.5393038967339214', '0.5533676310113189',
       '0.6781829885279139', '0.7269788262356514', '0.7546194789834887',
       '0.7791614555083071', '0.9953402239891002', '0x414fe002',
       '1.1168487718141744', '1.1517746789802608', '1.2369982302233233',
       '1.2492693330331217', '1.38214261242753', '1.469028291808031',
       '1.5140297011264148', '1.9393505187643634', '10.076107624172634',
       '10.17858008664234', '10.211624146149772', '10.238445249205526',
       '10.281612538543575', '10.289412705061812', '10.32607989591264',
       '10.341439590784995', '10.481796814453466', '10.48899638751125',
       '10.835109297021228', '10.906339823131932', '10.922626188848891',
       '10.998897052089552', '11.241094130877395', '11.26136706467054',
       '11.320428986302247', '11.331727125187761', '11.346440509834324',
       '11.379998058696547', '11.404997962265508', '11.579779793674563',
       '11.980078795061226', '12.02454946393265', '12.11758463166844',
       '12.259495712252914', '12.305153970991967', '12.33106798195205',
       '12.360752945518007', '12.37821665587366', '12.435179372329378',
       '12.515576283697598', '12.564796257345005', '12.721263957780877',
       '12.725469140530215', '12.742222705504602', '12.864914605903127',
       '12.879143957932204', '12.968220386038821', '12.985122559024818',
       '13.155189236409358', '13.337536513771608', '13.356246147628058',
       '13.480030560991166', '13.574503956024905', '13.718408382949614',
       '13.809914970161072', '13.832579399487951', '13.851832450144606',
       '14.127058369926104', '14.169126827749437', '14.23044501616914',
       '14.331784141672365', '14.374205517890555', '14.432954768634762',
       '14.561639955522216', '14.56834807581583', '14.663274183442766',
       '14.683999423537758', '14.73962239754386', '14.817618017689076',
       '14.838972733370907', '14.868504058930684', '14.923944414158022',
       '2.010410642056752', '2.055921147961711', '2.0934471757325124',
       '2.2169142392039576', '2.377601610111719', '2.5133519530949426',
       '2.5449259552859744', '2.6348307106024977', '2.6815031446239224',
       '2.7223305923394103', '2.734983929681749', '2.7382208013485614',
       '2.8545670858213916', '2.880182399992842', '2.8818032069512607',
       '2.8966111965095824', '2.9597385853299247', '2.9656951192720844',
       '3.132854663641618', '3.1553559438669634', '3.1617111286924686',
       '3.3058212058020153', '3.4130625495955567', '3.4290455309766577',
       '3.4290905532133897', '3.4572979889185995', '3.4710085962741264',
       '3.5805593604528685', '3.613982972088637', '3.6158539394325158',
       '3.642690500940411', '3.642819729434763', '3.776911527209375',
       '3.861840117708865', '3.8981370219558604', '3.9698546387955673',
       '4.023582068803805', '4.0716830744657715', '4.151198803764073',
       '4.160944057088608', '4.165848723252822', '4.173697528286709',
       '4.206470020157055', '4.350468351511949', '4.355278024864925',
       '4.363994491947961', '4.39674063521296', '4.446517966063217',
       '4.645919398695931', '4.658916849525424', '4.723751417014398',
       '4.786921536998376', '4.840058228742469', '4.857810387061303',
       '4.886067287286476', '5.090565770201748', '5.095972353236558',
       '5.118939260827324', '5.158338677646641', '5.240556442699705',
       '5.5006444090606434', '5.6234585253908165', '5.708550735961878',
       '5.716253948110923', '5.807535729499952', '5.847621868330291',
       '5.853697603739591', '5.880935345193128', '5.930703649268747',
       '5.949379984657176', '6.003699268483375', '6.220011967033064',
       '6.234035288942436', '6.281427914064545', '6.322510495538448',
       '6.397514584626231', '6.435589561443678', '6.456283313665443',
       '6.513206893783746', '6.550063314366106', '6.577019046472794',
       '6.587932953846258', '6.641685483781745', '6.691699941542483',
       '6.779115813792924', '6.814392436798818', '6.87886105659619',
       '6.969744011534154', '7.00422615108478', '7.09662547342962',
       '7.106798807182176', '7.116760736111267', '7.149503765224105',
       '7.172434500682598', '7.201312159374234', '7.3790401213355254',
       '7.429751747911265', '7.4459661881795425', '7.477718562367257',
       '7.510193557891102', '7.635234264470194', '7.65152738334079',
       '7.675411781516552', '7.770520378282162', '7.83528480199408',
       '7.8507285727125815', '7.862178589057771', '7.91131286615882',
       '8.06691027455243', '8.089951461567338', '8.093122144125592',
       '8.184505216288963', '8.207082203036407', '8.467136440992878',
       '8.467973732272636', '8.55976114149872', '8.610351723980484',
       '8.652736658281233', '8.75697137188656', '8.776428206240686',
       '8.939527512253177', '9.010497302119484', '9.11018681591831',
       '9.14308623325673', '9.155159699345592', '9.372028224582797',
       '9.48804687078874', '9.572447429953115', '9.688188173044628',
       '9.705834289565637', '9.763545538871448', '9.833290686346258',
       '9.872502093614697', '9.916585802669502', nan], dtype=object)

Количество уникальных значений: 225
--------------------------------------------------------------------------------

count

array(['-', '1007', '1009', '1011', '1013', '1022', '1037', '1041',
       '1047', '1050', '1054', '1058', '1059', '1062', '1097', '110',
       '1106', '1112', '1125', '114', '1145', '1146', '1155', '1158',
       '1159', '1184', '1189', '1197', '1198', '1206', '1236', '1247',
       '1249', '1250', '1260', '129', '1335', '1347', '1352', '1369',
       '1377', '1382', '1384', '139', '1393', '1397', '1404', '1421',
       '1433', '1438', '1443', '1451', '1455', '1476', '1484', '1491',
       '1495', '1499', '1501', '1502', '1507', '1532', '1547', '1570',
       '161', '1613', '1617', '1620', '1628', '163', '1631', '1653',
       '166', '1665', '1667', '1669', '1694', '1702', '1703', '1705',
       '1713', '172', '1725', '1727', '173', '1737', '1749', '1775',
       '178', '1782', '1785', '1793', '1795', '1803', '1804', '1806',
       '1814', '1815', '1817', '1818', '1819', '1831', '1834', '1839',
       '1866', '1869', '19', '1901', '1907', '1920', '1928', '1934',
       '1949', '1960', '1967', '1968', '1981', '1986', '203', '208', '22',
       '228', '23', '236', '260', '279', '281', '30', '309', '321', '33',
       '335', '347', '374', '381', '384', '387', '40', '401', '404',
       '411', '421', '426', '428', '438', '44', '440', '454', '469',
       '471', '480', '501', '506', '526', '535', '536', '538', '554',
       '563', '586', '587', '605', '634', '639', '649', '65', '659',
       '661', '670', '68', '682', '683', '691', '697', '715', '719',
       '721', '723', '724', '749', '751', '756', '763', '773', '778',
       '779', '813', '818', '823', '828', '836', '84', '85', '86', '866',
       '889', '894', '904', '907', '910', '912', '936', '946', '965',
       '973', '987', '99', 'N\\A', nan], dtype=object)

Количество уникальных значений: 208
--------------------------------------------------------------------------------

In [7]:
tz_data['count'].unique()

array(['1260', '866', '163', '1146', '823', '1377', '281', '1501', '139',
       '309', '129', '1817', '23', '1795', '1013', '1184', '114', '203',
       '1047', '683', '563', '1532', '813', '1703', '1986', '763', '1928',
       '1949', '411', '1433', '1694', '1901', '426', '1793', '1247',
       '910', '907', '1041', '1404', '454', '1037', '401', '1749', '649',
       '99', '1206', '1022', 'N\\A', '1818', '1455', '936', '1705', '904',
       '697', '1547', '1725', '374', '1197', '480', '19', '1421', '161',
       '1803', '1384', '1727', '1393', '347', '428', '1667', '1158',
       '818', '536', '661', '1011', '1831', '1451', '421', '501', '1737',
       '469', '659', '1054', '1059', '178', '1869', '836', '1866', '973',
       '1335', '1062', '1499', '381', '1050', '1159', '1785', '471',
       '1382', '236', '1476', '1097', '1653', '1443', '586', '751', '173',
       '1397', '773', '1007', '715', '682', '889', '1249', '172', '1189',
       '260', '1669', '691', '670', '1713', '587', '1920', '535', '554',
       '1484', '166', '384', '22', '828', '1617', '1665', '1814', '1352',
       '1631', '1804', '440', '605', '1009', '40', '1112', '321', '1155',
       '1570', '30', '1613', '756', '110', '1236', '44', '912', '1620',
       '538', '1702', '1106', '1369', '1819', '719', '1775', '1495', '86',
       '1834', '1507', '1907', '33', nan, '1347', '946', '228', '779',
       '724', '1628', '721', '1981', '1934', '387', '1967', '208', '1198',
       '1125', '1839', '894', '1058', '506', '749', '723', '1438', '1145',
       '1815', '1960', '404', '639', '85', '1968', '987', '778', '1250',
       '634', '68', '65', '965', '-', '438', '1491', '1502', '526', '279',
       '335', '1782', '84', '1806'], dtype=object)

### Предобработка данных

#### Наименование колонок

In [8]:
tz_data.rename(columns = {'good (1)' : 'good'}, inplace = True)

#### Изменение наименования area

Изменим именование области (`area`) - 'ar\\vr'.

In [9]:
tz_data.loc[(tz_data['area'] == 'ar\\vr'), 'area'] = 'ar_vr'

In [10]:
tz_data['area'].unique()

array(['eligibility', 'capability', 'available', 'protein', 'winner',
       'locator', 'worlds', 'ar_vr', 'twisted', 'lithuania', 'personnel',
       'housewives', 'dialog', nan, 'except', 'greetings'], dtype=object)

#### Пропуски и аномальные значения

In [11]:
null_data = tz_data[tz_data.isna().any(axis=1)]
null_data

,area,cluster,cluster_name,keyword,good,count,x,y
96,worlds,1.0,Кластер 1,operating stevens nirvana,NaN,381,3.585101,1.1168487718141744
178,housewives,2.0,Кластер 2,outstanding relations,1.0,NaN,1.289158,6.397514584626231
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
tz_data.query('count == "N\\A" or count == "-"')

,area,cluster,cluster_name,keyword,good,count,x,y
49,protein,0.0,Кластер 0,malawi sunset,1.0,N\A,14.059563,11.980078795061226
217,greetings,1.0,Кластер 1,diversity unlike,1.0,-,9.195444,11.26136706467054

В исходном датасете есть пропуски и нефрматные значения. Их доля невелика - 2,1% общего числа. С учетом целей ТЗ удалим эти данные.

In [13]:
tz_data = tz_data.dropna()

In [14]:
tz_data[tz_data.isna().any(axis=1)]

Empty DataFrame
Columns: [area, cluster, cluster_name, keyword, good, count, x, y]
Index: []

In [15]:
tz_data.shape

(226, 8)

In [16]:
tz_data = tz_data.query('count not in ["N\\A", "-"]')

In [17]:
tz_data.shape

(224, 8)

#### Дубликаты слов в одной области (условие №3 ТЗ)

Проверим наличие дубликатов слов в одной и той же области (условие выходных данных -  не должно быть дубликатов слов в одной и той же области (area), но словосочетание может повторяться из area в area).

In [18]:
keyword_number = tz_data.groupby('area', as_index = False)\
       .agg({'cluster_name':'count', 'keyword':'nunique'})\
       .rename(columns = {'cluster_name':'total_keyword', 'keyword':'nunique_keyword' })      
keyword_number['duplicate_keyword'] = keyword_number['total_keyword'] - keyword_number['nunique_keyword'] 
keyword_number.query('duplicate_keyword > 0')

           area  total_keyword  nunique_keyword  duplicate_keyword
0         ar_vr             15               14                  1
3        dialog             15               14                  1
4   eligibility             16               14                  2
6     greetings             15               14                  1
12      twisted             16               14                  2

В 5 областях есть совпадающие значения - `keyword`.  
Посмотрим, какие `keyword` повторяются.

In [19]:
tz_data[tz_data.duplicated(['area','keyword'], keep=False)]

,area,cluster,cluster_name,keyword,good,count,x,y
2,eligibility,0.0,Кластер 0,hawaiian directive,1.0,163,11.381856,3.8981370219558604
8,eligibility,1.0,Кластер 1,vampire injured,0.0,139,5.247683,0.7791614555083071
9,eligibility,2.0,Кластер 2,vampire injured,0.0,139,5.247683,0.7791614555083071
15,eligibility,3.0,Кластер 3,hawaiian directive,1.0,1795,7.309672,2.9597385853299247
111,ar_vr,1.0,Кластер 1,filling volunteers academics,1.0,773,10.833920,8.652736658281233
117,ar_vr,2.0,Кластер 2,filling volunteers academics,1.0,172,4.813256,14.73962239754386
123,twisted,0.0,Кластер 0,recycling edited,1.0,1713,0.407415,5.5006444090606434
124,twisted,0.0,Кластер 0,offset cnetcom applying,1.0,587,2.167355,0.9953402239891002
125,twisted,1.0,Кластер 1,offset cnetcom applying,1.0,587,2.167355,0.9953402239891002
135,twisted,3.0,Кластер 3,recycling edited,1.0,1617,9.513728,0.30133952678609466
191,dialog,2.0,Кластер 2,battery pregnant,1.0,1198,2.980264,12.879143957932204
195,dialog,3.0,Кластер 3,battery pregnant,1.0,894,13.502971,10.076107624172634
220,greetings,1.0,Кластер 1,springer bumper,1.0,1491,2.721603,5.847621868330291
221,greetings,2.0,Кластер 2,springer bumper,1.0,1491,2.721603,5.847621868330291

Для ряда `keyword` - `vampire injured`, `offset cnetcom applying`, `springer bumperspringer bumper` - отличаются только кластеры. Для остальных `keyword` совпадает только `area` и `keyword`.  
В связи с отсутствием дополнительной информации о приоритете попадания в финальный датасет дублирующихся позиций оставим первое вхождение.

In [20]:
tz_data = tz_data.drop_duplicates(['area','keyword'], keep='first')

In [21]:
tz_data.shape

(217, 8)

#### Изменение типа данных

In [22]:
tz_data['cluster'] = tz_data['cluster'].astype('int')
tz_data['y'] = pd.to_numeric(tz_data['y'], errors='coerce')
tz_data['count'] = pd.to_numeric(tz_data['count'], errors='coerce')

In [23]:
tz_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 0 to 228
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          217 non-null    object
 1   cluster       217 non-null    int32
 2   cluster_name  217 non-null    object
 3   keyword       217 non-null    object
 4   good          217 non-null    float64
 5   count         217 non-null    int64
 6   x             217 non-null    float64
 7   y             216 non-null    float64
dtypes: float64(3), int32(1), int64(1), object(3)
memory usage: 14.4+ KB

In [24]:
tz_data = tz_data.dropna()

In [25]:
tz_data[tz_data.isna().any(axis=1)]

Empty DataFrame
Columns: [area, cluster, cluster_name, keyword, good, count, x, y]
Index: []

#### Вывод

Преобразованный датафрейм `tz_data` содержит 217 строк, 15 уникальных областей, по 4 кластера в каждой.  
Обработаны пропуски и дубликаты: в пропущенных значения удалена полностью одна строка, в дубликатах - оставлены строки первого вхождения.  
Изменено наименование столбца `good (1)`.  
Изменен тип данных столбца `cluster` на `int`, `y` на `float`, `count` на `int`.

### Обогащение данных

Посмотрим, сколько кластеров в каждой области.

In [26]:
tz_data.groupby('area', as_index = False)['cluster_name'].nunique()

           area  cluster_name
0         ar_vr             4
1     available             4
2    capability             4
3        dialog             4
4   eligibility             4
5        except             4
6     greetings             4
7    housewives             4
8     lithuania             4
9       locator             4
10    personnel             4
11      protein             4
12      twisted             4
13       winner             4
14       worlds             4

У каждой области 4 кластера.  
В присвоении цветов возможно 2 подхода:  
- присвоить каждому уникальному кластеру свой цвет без учета области (4 оттенка);  
- привосить каждому кластеру цвет с учетом области (60 оттенков);  
- комбинация первых двух: сформировать несколько цветовых наборов для 4-х кластеров и использовать их повторно.

В рамках данной задачи будем использовать первый вариант формирования цветовых схем.

In [27]:
tz_data['color'] = tz_data.apply(get_cluster_color, axis=1)

#### Вывод

В tz_data добавлен столбец `color`, содержащий данные о цвете, присвоенном кластеру с учетом условий ТЗ.

### Требования к форме выходных данных

Проверим требования выходных данных.

#### Колонки

 1) В выходной таблице должны остаться только следующие колонки:  
area, cluster, cluster_name, keyword, x, y, count, color, где  
 area - область,  
 cluster - номер кластера,  
 cluster_name - название кластера,  
 keyword - словосочетание,  
 count - показатель,  
 x и y - координаты для диаграммы рассеяния,  
 color - цвет точки на карте для данного словосочетания

In [28]:
tz_data = tz_data[['area', 'cluster', 'cluster_name', 'keyword', 'x', 'y', 'count', 'color']]
tz_data.head()

,area,cluster,cluster_name,keyword,x,y,count,color
0,eligibility,0,Кластер 0,several animated buried,5.772342,12.564796,1260,#1f77b4
1,eligibility,0,Кластер 0,singles unusual buyers,14.829280,7.850729,866,#1f77b4
2,eligibility,0,Кластер 0,hawaiian directive,11.381856,3.898137,163,#1f77b4
3,eligibility,0,Кластер 0,dynamics directly,9.980149,6.281428,1146,#1f77b4
4,eligibility,1,Кластер 1,decision surgeons montreal,3.283940,4.396741,823,#ff7f0e

Требования 2-5 выполнены на этапе предобработки и обогащения данных.

#### Сортировка данных

Сортировка должна происходить по колонкам area, cluster, cluster_name, count (по count значения сортируются в убывающем порядке, в остальных - по возрастающему)

In [29]:
tz_data.sort_values(
    by = ['area', 'cluster', 'cluster_name', 'count'],
    ascending = [True, True, True, False],
    inplace = True
)

In [30]:
tz_data.head()

,area,cluster,cluster_name,keyword,x,y,count,color
106,ar_vr,0,Кластер 0,written conflict fabulous,2.991167,7.106799,1443,#1f77b4
108,ar_vr,0,Кластер 0,reservations linking,10.195602,12.259496,751,#1f77b4
107,ar_vr,0,Кластер 0,interfaces neutral,10.443533,13.809915,586,#1f77b4
109,ar_vr,0,Кластер 0,committees parallel,6.735260,3.613983,173,#1f77b4
110,ar_vr,1,Кластер 1,postcards looked republic detector,10.474474,6.220012,1397,#ff7f0e

#### Проверка полноты выходных данных

7) Количество переданных в исходных ключевых слов должно совпадать с количество слов в выходных данных (за исключением дублированных строк или строк с пустыми\неформатными значениями по ключевым показателям [перечислены в п. 1], если такие имеются).

In [31]:
tz_data.shape

(216, 8)

In [32]:
tz_data = tz_data.reset_index(drop=True)
tz_data

,area,cluster,cluster_name,keyword,x,y,count,color
0,ar_vr,0,Кластер 0,written conflict fabulous,2.991167,7.106799,1443,#1f77b4
1,ar_vr,0,Кластер 0,reservations linking,10.195602,12.259496,751,#1f77b4
2,ar_vr,0,Кластер 0,interfaces neutral,10.443533,13.809915,586,#1f77b4
3,ar_vr,0,Кластер 0,committees parallel,6.735260,3.613983,173,#1f77b4
4,ar_vr,1,Кластер 1,postcards looked republic detector,10.474474,6.220012,1397,#ff7f0e
...,...,...,...,...,...,...,...,...
211,worlds,2,Кластер 2,ringtone parental,11.723895,4.363994,471,#2ca02c
212,worlds,2,Кластер 2,recipient traffic,5.593629,0.553368,236,#2ca02c
213,worlds,3,Кластер 3,immunology plates,2.407028,7.651527,1653,#d62728
214,worlds,3,Кластер 3,holdings herbal,3.986508,10.906340,1476,#d62728
215,worlds,3,Кластер 3,exchanges castle,8.082231,6.587933,1097,#d62728

Входные данные содержали 229 строк. В результате обработки пропусков и дубликатов осталась 221 строка. После обогащения данных и формирования столбца `color` количество строк не изменилось.

#### Выгрузка в excel

Выходные данные должны быть аккуратно оформлены (заголовки закреплены, включен фильтр)  
Формат представления выходных данных: google spreadsheet-таблица.

In [33]:
with pd.ExcelWriter("output_data.xlsx") as writer:
    tz_data.to_excel(
        writer,
        sheet_name='output', 
        index=False
    )
    sheet = writer.sheets['output']
    sheet.autofilter('A1:H'+str(tz_data.shape[0]))
    sheet.freeze_panes(1, 1)
    sheet.set_column('D:D', 35)
    sheet.set_column('E:E', 12)
    sheet.set_column('F:F', 19)